{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin831115825?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin831115825. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins http://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11764139?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11764139. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B112761168?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:room;112761168. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;112761168\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin831115825?api-version=2020-10-31",
      "RequestMethod": "PUT",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": {
        "$dtId": null,
        "$etag": null,
        "$metadata": {
          "$model": "dtmi:example:room;112761168"
        },
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1"
      },
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00229edd2d39-d16a-4f5e-9c27-cfa107bce239\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin831115825",
        "$etag": "W/\u00229edd2d39-d16a-4f5e-9c27-cfa107bce239\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;112761168",
          "Temperature": {
            "lastUpdateTime": "2020-10-29T00:18:33.9531225Z"
          },
          "Humidity": {
            "lastUpdateTime": "2020-10-29T00:18:33.9531225Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2020-10-29T00:18:33.9531225Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2020-10-29T00:18:33.9531225Z"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin831115825?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00229edd2d39-d16a-4f5e-9c27-cfa107bce239\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin831115825",
        "$etag": "W/\u00229edd2d39-d16a-4f5e-9c27-cfa107bce239\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;112761168",
          "Temperature": {
            "lastUpdateTime": "2020-10-29T00:18:33.9531225Z"
          },
          "Humidity": {
            "lastUpdateTime": "2020-10-29T00:18:33.9531225Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2020-10-29T00:18:33.9531225Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2020-10-29T00:18:33.9531225Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "117860697"
  }
}