{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin61537088?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u00223a20023a-5bb7-4685-9f94-ebccfb90ae0f\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin61537088",
        "$etag": "W/\u00223a20023a-5bb7-4685-9f94-ebccfb90ae0f\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;190129607",
          "Temperature": {
            "lastUpdateTime": "10/29/2020 00:27:01"
          },
          "Humidity": {
            "lastUpdateTime": "10/29/2020 00:27:01"
          },
          "IsOccupied": {
            "lastUpdateTime": "10/29/2020 00:27:01"
          },
          "EmployeeId": {
            "lastUpdateTime": "10/29/2020 00:27:01"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin916549295?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin916549295. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins http://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B19012960?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;19012960. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B117709766?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "dtmi:example:room;117709766",
        "description": {
          "en": "An enclosure inside a building."
        },
        "displayName": {
          "en": "Room"
        },
        "decommissioned": false,
        "uploadTime": "2020-10-29T03:01:02.4697169\u002B00:00",
        "model": {
          "@id": "dtmi:example:room;117709766",
          "@type": "Interface",
          "displayName": "Room",
          "description": "An enclosure inside a building.",
          "contents": [
            {
              "@type": "Relationship",
              "name": "containedIn",
              "target": "dtmi:example:floor;19012960"
            },
            {
              "@type": "Property",
              "name": "Temperature",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "Humidity",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "IsOccupied",
              "schema": "boolean"
            },
            {
              "@type": "Property",
              "name": "EmployeeId",
              "schema": "string"
            }
          ],
          "@context": [
            "dtmi:dtdl:context;2"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;116902615\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin916549295?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u002265f44121-95a0-400c-a66c-82f4a55b7305\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin916549295",
        "$etag": "W/\u002265f44121-95a0-400c-a66c-82f4a55b7305\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;116902615",
          "Temperature": {
            "lastUpdateTime": "2020-10-29T03:02:31.2418499Z"
          },
          "Humidity": {
            "lastUpdateTime": "2020-10-29T03:02:31.2418499Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2020-10-29T03:02:31.2418499Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2020-10-29T03:02:31.2418499Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "354008543"
  }
}