{
  "Entries": [
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1166423701?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022cef519d6-559b-4bea-b25f-d4e18d704702\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1166423701",
        "$etag": "W/\u0022cef519d6-559b-4bea-b25f-d4e18d704702\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;116018086",
          "Temperature": {
            "lastUpdateTime": "10/29/2020 00:27:01"
          },
          "Humidity": {
            "lastUpdateTime": "10/29/2020 00:27:01"
          },
          "IsOccupied": {
            "lastUpdateTime": "10/29/2020 00:27:01"
          },
          "EmployeeId": {
            "lastUpdateTime": "10/29/2020 00:27:01"
          }
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1157156427?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "DigitalTwinNotFound",
          "message": "There is no digital twin instance that exists with the ID roomTwin1157156427. Please verify that the twin id is valid and ensure that the twin is not deleted. See section on querying the twins http://aka.ms/adtv2query."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Afloor%3B11601808?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 404,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "error": {
          "code": "ModelNotFound",
          "message": "There is no Model(s) available that matches the provided id(s) dtmi:example:floor;11601808. Check that the Model ID provided is valid by doing a Model_List API call."
        }
      }
    },
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models/dtmi%3Aexample%3Aroom%3B117844699?includeModelDefinition=true\u0026api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8"
      },
      "ResponseBody": {
        "id": "dtmi:example:room;117844699",
        "description": {
          "en": "An enclosure inside a building."
        },
        "displayName": {
          "en": "Room"
        },
        "decommissioned": false,
        "uploadTime": "2020-10-29T03:01:08.0719947\u002B00:00",
        "model": {
          "@id": "dtmi:example:room;117844699",
          "@type": "Interface",
          "displayName": "Room",
          "description": "An enclosure inside a building.",
          "contents": [
            {
              "@type": "Relationship",
              "name": "containedIn",
              "target": "dtmi:example:floor;11601808"
            },
            {
              "@type": "Property",
              "name": "Temperature",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "Humidity",
              "schema": "double"
            },
            {
              "@type": "Property",
              "name": "IsOccupied",
              "schema": "boolean"
            },
            {
              "@type": "Property",
              "name": "EmployeeId",
              "schema": "string"
            }
          ],
          "@context": [
            "dtmi:dtdl:context;2"
          ]
        }
      }
    },
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/models?api-version=2020-10-31",
      "RequestMethod": "POST",
      "RequestHeaders": {
        "Authorization": "Sanitized",
        "Content-Type": "application/json"
      },
      "RequestBody": "[{    \u0022@id\u0022: \u0022dtmi:example:room;110174774\u0022,    \u0022@type\u0022: \u0022Interface\u0022,    \u0022displayName\u0022: \u0022Room\u0022,    \u0022description\u0022: \u0022An enclosure inside a building.\u0[...]
[...]
    {
      "RequestUri": "https://fakeHost.api.wus2.digitaltwins.azure.net/digitaltwins/roomTwin1157156427?api-version=2020-10-31",
      "RequestMethod": "GET",
      "RequestHeaders": {
        "Authorization": "Sanitized"
      },
      "RequestBody": null,
      "StatusCode": 200,
      "ResponseHeaders": {
        "Content-Type": "application/json; charset=utf-8",
        "ETag": "W/\u0022338bcf2c-397a-4220-8fe5-6ff133acdc6a\u0022"
      },
      "ResponseBody": {
        "$dtId": "roomTwin1157156427",
        "$etag": "W/\u0022338bcf2c-397a-4220-8fe5-6ff133acdc6a\u0022",
        "Temperature": 80,
        "Humidity": 25,
        "IsOccupied": true,
        "EmployeeId": "Employee1",
        "$metadata": {
          "$model": "dtmi:example:room;110174774",
          "Temperature": {
            "lastUpdateTime": "2020-10-29T03:02:31.0482142Z"
          },
          "Humidity": {
            "lastUpdateTime": "2020-10-29T03:02:31.0482142Z"
          },
          "IsOccupied": {
            "lastUpdateTime": "2020-10-29T03:02:31.0482142Z"
          },
          "EmployeeId": {
            "lastUpdateTime": "2020-10-29T03:02:31.0482142Z"
          }
        }
      }
    }
  ],
  "Variables": {
    "DIGITALTWINS_URL": "https://fakeHost.api.wus2.digitaltwins.azure.net",
    "RandomSeed": "428142243"
  }
}